<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default navbar-static-top">
  <div class="container">

    <!-- BRAND LOGO AREA -->
    <a class="navbar-brand" href="/"><h2>Vintage Video Games</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BOOTSTRAP COLLAPSABLE NAVBAR -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <div *ngIf="loggedIn; then in else loggedOut"></div>
        <ng-template #in>
          <li class="nav-item active">
            <a class="nav-link" routerLink="cart">
              <h4>Cart</h4>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="userAccount">
              <h4>Account</h4>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="logout">
              <h4>Logout</h4>
            </a>
          </li>
        </ng-template>
        <ng-template #loggedOut>
          <li class="nav-item active">
            <a class="nav-link" routerLink="login">
              <h4>Login</h4>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="register">
              <h4>Register</h4>
            </a>
          </li>          
        </ng-template>  
      </ul>
    </div>
  </div>
</nav>
<body>
  <router-outlet></router-outlet>
</body>