<div id="productMain">

    <div class="container">
      
      <div class="card-columns">
        <div *ngFor="let product of products; let i = index; trackBy: trackByFn">
          <!-- PRODUCT CARD -->
          <div class="card" id="productCard">
            <img class="card-img" src="{{ products[i].picture }}" alt="Card Image">
            <div class="card-image-overlay">
              <p class="card-title">{{ products[i].productName}}</p>
              <p class="card-text"> {{ products[i].system}} </p>
              <p class="card-text">Released: {{ products[i].releaseDate }}</p>
              <p class="card-text">Category: {{ products[i].category }}</p> 
              <!-- ngIf on add to cart button -->
            </div>
           <!--  END OF CARD --> 
          </div>
        <!-- END OF FOR LOOP -->  
        </div>
      <!-- END OF CARD COLUMNS -->
      </div>
    </div>
  </div>