<br>
<section class="moduler wrapper_404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Search Transaction</strong></h2>
        <hr><br>
        <form (ngSubmit)="searchTransaction()" #userForm="ngForm">
          <div class="text-center">
            <input type="text" class="form-control" id="search" name="search" [(ngModel)]="searchValue"
              placeholder="Enter user Infomation like username, email, name, address, phone.. to search">
            <hr>
            <!-- <input class="btn btn-success pull-center" type="button" value="Search" id="showTable" onclick="callSearch();" /> -->
            <button class="btn-info" name="userSearch" id="showTable">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>

            <hr>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer copyright">
          <table cellpadding="0" id="productTable" width=100%>

            <tr>
              <th scope="col">Transaction ID</th>
              <th scope="col">Transaction Date</th>
              <th scope="col">Customer Username</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Total Price</th>

            </tr>
            <tr *ngFor="let u of transList">
              <td (click)="goProductList(u)" style="cursor: pointer"><u>{{u.transactionId}}</u></td>
              <td>{{u.transactionDate}}</td>
              <td>{{u.user.userName}}</td>
              <td>{{u.user.firstName}} {{u.user.lastName}}</td>
              <td>{{u.transactionPrice}}</td>
            </tr>
          </table>


        </div>
      </div>
    </div>

  </div>

</section>