


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from playing your game!</p>
                        <input type="submit" name="" value="Register" routerLink="/home/register"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul> -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Login</h3>
                                <div class="row register-form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                    </div>
                                    <div class="row col-md-8" id="cnt">
                                      <input type="submit" class="btnRegister"  value="Login" />
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Apply as a Hirer</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is Your old Phone Number</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="`Answer *" value="" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

            

<!-- <div class="memberlogin">
    <form action="register" name="registration" method = "post">
      <div>
        <div class="container" id="containerform">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div>
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Username" name="username">
        </div>

        <div>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id = "psw">
          <p class="text-muted">Must be 5 characters long and no Special characters allowed</p>
        </div>

        <div>
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat">
        </div>

        <div>
          <label for="fname"><b>Firstname</b></label>
          <input type="text" placeholder="Enter Firstname" name="fname">
        </div>

        <div>
          <label for="lname"><b>Lastname</b></label>
          <input type="text" placeholder="Enter Lastname" name="lname">
        </div>

        <div>
          <label for="dob"><b>Date of birth</b></label><br>
          <input type="date" placeholder="Enter Date of birth" name="dob"><br><br>
        </div>

        <div>
          <label for="ssn"><b>SSN</b></label>
          <input type="password" placeholder="Enter SSN" name="ssn">
        </div>

        <div>
          <label for="phno"><b>Phone number</b></label>
          <input type="text" placeholder="Enter phone number" name="phno">
        </div>

        <div>
          <select name="dropdown-item" class="dropbtn">
            <option value="1">Who is your favorite author?</option>
            <option value="2">What is your mothers maiden name?</option>
            <option value="3">What is your pet name?</option>
          </select>
        </div>

        <br>
          
        <div>
        <label for="answer"><b>Answer</b></label>
        <input type="text" placeholder="Enter your answer" name="answer" >
      </div>
      
        <hr>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <button type="submit" class="registerbtn">Register</button>
      </div>
    </div>
      <div class="container signin">
        <p>Already have an account? <a routerLink="/home/login">Log in</a>.</p>
      </div>
    </form>
  </div> -->



<!-- 
<div class="memberlogin">
    <form method = "post" onsubmit='loginuser()'>
      <div class="container" >
        <div class="container" id="containerform">
          <h1 class="text-center">Log in</h1>
          <hr>


        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required >

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>


          <hr>
          <a href="forgetpassword.html">Forgot Password</a>

          <button type="submit" class="loginbtn">Login</button>

        </div>
      </div>
      <div class="container signin">
        <p>Register for an account <a routerLink="/home/register">Register</a>.</p>
      </div>
    </form>

  </div>



<script src="../../assets/registerPage.js"></script>


<!-- <section id="hero-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="block wow fadeInUp" data-wow-delay=".3s">
                  <div align="center">
                      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                          <form class="login100-form validate-form" action="signin"  method="post" onsubmit="return isValidUser()">
                              <span class="login100-form-title p-b-33"> Account Login
                              </span>
                              <div class="wrap-input100 validate-input"
                                  data-validate="User is required">
                                  <input class="input100" type="text" name="userName"
                                      placeholder="Username"> <span class="focus-input100-1"></span>
                                  <span class="focus-input100-2"></span>
                              </div>
                              <div class="wrap-input100 rs1 validate-input"
                                  data-validate="Password is required">
                                  <input class="input100" type="password" name="password"
                                      placeholder="Password"> <span
                                      class="focus-input100-1"></span> <span
                                      class="focus-input100-2"></span>
                              </div>
                              <div class="container-login100-form-btn m-t-20">
                                  <button class="login100-form-btn">Sign in</button>
                                  
                              </div>
                              <div class="text-center">
                              <span  id ="errMessage" style="color: red;"> </span>
                              
                              </div>
                              <div class="text-center p-t-45 p-b-4">
                                  <span class="txt1"> Forgot </span> <a href="forgot-username.html"
                                      class="txt2 hov1"> Username / Password? </a>
                              </div>
                              <div class="text-center">
                                  <span class="txt1"> Create an account? </span> <a
                                      href="sign-up-personal-info.html" class="txt2 hov1"> Sign up </a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> --> -->



<!-- <div class="memberlogin">
    <form action="register" name="registration" method = "post">
      <div>
        <div class="container" id="containerform">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div>
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Username" name="username">
        </div>

        <div>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id = "psw">
          <p class="text-muted">Must be 5 characters long and no Special characters allowed</p>
        </div>

        <div>
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat">
        </div>

        <div>
          <label for="fname"><b>Firstname</b></label>
          <input type="text" placeholder="Enter Firstname" name="fname">
        </div>

        <div>
          <label for="lname"><b>Lastname</b></label>
          <input type="text" placeholder="Enter Lastname" name="lname">
        </div>

        <div>
          <label for="dob"><b>Date of birth</b></label><br>
          <input type="date" placeholder="Enter Date of birth" name="dob"><br><br>
        </div>

        <div>
          <label for="ssn"><b>SSN</b></label>
          <input type="password" placeholder="Enter SSN" name="ssn">
        </div>

        <div>
          <label for="phno"><b>Phone number</b></label>
          <input type="text" placeholder="Enter phone number" name="phno">
        </div>

        <div>
          <select name="dropdown-item" class="dropbtn">
            <option value="1">Who is your favorite author?</option>
            <option value="2">What is your mothers maiden name?</option>
            <option value="3">What is your pet name?</option>
          </select>
        </div>

        <br>
          
        <div>
        <label for="answer"><b>Answer</b></label>
        <input type="text" placeholder="Enter your answer" name="answer" >
      </div>
      
        <hr>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <button type="submit" class="registerbtn">Register</button>
      </div>
    </div>
      <div class="container signin">
        <p>Already have an account? <a routerLink="/login">Log in</a>.</p>
      </div>
    </form>
  </div> -->