<div class="container createProdStyle" >

    <form (ngSubmit)="createProduct()" #createProductForm="ngForm">
  
      <h2>Product Name: {{ product.productName }} </h2>
      <input type="text" name="productName" value="productName" [(ngModel)]="product.productName">
      <h2>Product System: {{ product.system }} </h2>
      <input type="text" name="system" value="system" [(ngModel)]="product.system">
      <h2>Product Price: {{ product.productPrice }} </h2>
      <input type="text" name="productPrice" value="productPrice" [(ngModel)]="product.productPrice">
      <h2>Product Release Date: {{ product.releaseDate }} </h2>
      <input type="text" name="releaseDate" value="releaseDate" [(ngModel)]="product.releaseDate">
      <h2>Product Category: {{ product.category }} </h2>
      <input type="text" name="category" value="category" [(ngModel)]="product.category">
      <h2>Product Quantity: {{ product.quantity }} </h2>
      <input type="text" name="quantity" value="quantity" [(ngModel)]="product.quantity">
      <h2>Product Rating: {{ product.rating }} </h2>
      <input type="text" name="rating" value="rating" [(ngModel)]="product.rating">
      <h2>Product Picture 1: {{ product.picture1 }} </h2>
      <input type="text" name="picture1" value="picture1" [(ngModel)]="product.picture1">
      <h2>Product Picture 2: {{ product.picture2 }} </h2>
      <input type="text" name="picture2" value="picture2" [(ngModel)]="product.picture2">
      <h2>Product Picture 3: {{ product.picture3 }} </h2>
      <input type="text" name="picture3" value="picture3" [(ngModel)]="product.picture3">
      <br>
      <br>
      <br>
      <input type="submit" value="Create Product" />
    </form>
    
  </div>
<!-- 
<h1>Add Products</h1>
<form (ngSubmit)="createProduct()" #productForm="ngForm" class="form-horizontal">
<div class="form-group">
  <div class="col-sm-10">
  <label for="productname" class="col-sm-3 control-label labelName">Product Name</label>
  <div class="col-sm-6">
      <input type="text" [(ngModel)]="product.productName" name="productname" placeholder="Product Name" class="form-control labelName" autofocus>
  </div>
  </div>
  <div class="col-sm-10">
  <label for="productprice" class="col-sm-3 control-label labelName">Product Price</label>
  <div class="col-sm-3">
      <input type="number" name="productprice" placeholder="Product Price" class="form-control labelName" autofocus>
  </div>
  
  <label for="releasedate"  class="col-sm-3 control-label labelName">Release Date</label>
  <div class="col-sm-3">
      <input type="date" name="releasedate" placeholder="Release Date" class="form-control labelName"  autofocus>
  </div>
  </div>
  <div class="col-sm-10">
  <label for="category" class="col-sm-3 control-label labelName">Categoty</label>
  <div class="col-sm-3">
      <input type="text" name="catgory" placeholder="Category" class="form-control labelName" autofocus>
  </div>
  
  <label for="quantity" class="col-sm-3 control-label labelName">Quantity</label>
  <div class="col-sm-3">
      <input type="number" name="quantity" placeholder="Quantity" class="form-control labelName" autofocus>
  </div>
  </div>
  <div class="col-sm-10">
  <label for="rating" class="col-sm-3 control-label labelName">Rating</label>
  <div class="col-sm-3">
      <input type="number" name="rating" placeholder="Rating" class="form-control labelName" autofocus>
  </div>
  
  <label for="system" class="col-sm-3 control-label labelName">System</label>
  <div class="col-sm-3">
      <input type="text" name="system" placeholder="System" class="form-control labelName" autofocus>
  </div>
  </div>
  <div class="col-sm-10">
  <label for="pictures" class="col-sm-3 control-label labelName">Pictures</label>
  <div class="col-sm-6">
      <input type="text" name="pictures" placeholder="Pictures" class="form-control labelName" autofocus>
  </div>
  </div>
</div>
<input type="submit" value="Create" />
</form>
 -->
