<div class="center-block col-xl-7 col-lg-6 col-md-6">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="col-lg-12 p-5">
          <h1 class="h4 text-gray-900 mb-2 text-center">Reset Password</h1>
          <p class="mb-4">Please enter the new password:<br>
  
          <form (ngSubmit)="updatePassword()" #passwordForm="ngForm">
            <div class="form-group">
              <input type="text" name="username" class="form-control" value={{user.userName}}>
              <input type="password" name="newpassword" class="form-control" placeholder="Enter new password..." [(ngModel)]="user.password">
              <input type="password" name="confirmpassword" class="form-control" placeholder="Enter confirm password..." [(ngModel)]="confirmPassword">
            </div>
            <p>{{errMessage}}</p>
            <button type="submit">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  