<br>
<br>
<br>
<section class="moduler wrapper_404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <input type="text" class="form-control" id="search" name="search"
            placeholder="Enter Product Infomation like ID, name, price, release date,.. to search">
          <hr>
          <!-- <input class="btn btn-success pull-center" type="button" value="Search" id="showTable" onclick="callSearch();" /> -->
          <button type="button" class="btn-info" name="userSearch"  id="showTable" >
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
     
          <hr>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer copyright">
          <table cellpadding="0" id="productTable" width=100%>
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Release Date</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">System</th>
              <th scope="col">Rating</th>
              <th scope="col">Delete</th>
            </tr>
          </table>


        </div>
      </div>
    </div>

  </div>

</section>